<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133753682260-bu51tfvkjnmlv8cjg1po692abe0vddql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133753682260-bu51tfvkjnmlv8cjg1po692abe0vddql</string>
	<key>API_KEY</key>
	<string>AIzaSyAx2cmAz3sVwZmc_oT2JAvzrOrpojKce7k</string>
	<key>GCM_SENDER_ID</key>
	<string>133753682260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.my-recipe-book.My-recipe-book</string>
	<key>PROJECT_ID</key>
	<string>delta-trees-263010</string>
	<key>STORAGE_BUCKET</key>
	<string>delta-trees-263010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133753682260:ios:d938d354d072e95b6c30c1</string>
</dict>
</plist>